.topic-container {
  display: flex;
  align-items: center; /* Vertically center logo & text */
  justify-content: center; /* Center the whole section horizontally */
  gap: 1rem; /* Space between logo and text */
  color: white;
  background-color: #1e1e1e;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  
}

.logo {
  height: 60px; /* Adjust size as needed */
  width: auto;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
